<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
</head>
    <body>
        <table>
          <thead>
          <tr>
            <th>
              <select>
                <option disabled selected>Curso Frequentado</option>
                <option>Ciências e Tecnologias</option>
                <option>Ciências Socioeconómicas</option>
                <option>Artes Visuais</option>
                <option>Línguas e Humanidades</option>
              </select>
            </th>
          </tr>
            <tr>
              <th>Disciplina</th>
              <th>10º Ano</th>
              <th>11º Ano</th>
              <th>12º Ano</th>
              <th>Interno 1ª Fase</th>
              <th>Interno 2ª Fase</th>
              <th>Externo 1ª Fase</th>
              <th>Externo 2ª Fase</th>
              <th>CIF</th>
              <th>Prova de Ingresso</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Português</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="0" max="200" placeholder="100">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>
                <input type="checkbox" value="true">
              </td>
            </tr>
            <tr>
              <td>Filosofia</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>
                <input type="checkbox" value="true">
              </td>
            </tr>
            <tr>
              <td>Língua Estrangeira</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td></td>
              <td></td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>Educação Física</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td></td>
              <td></td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>

              </td>
            </tr>
            <tr>
              <td>Nome Trienal Específica</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>
                <input type="checkbox">
              </td>
            </tr>
            <tr>
              <td>Nome Trienal Específica I</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>
                <input type="checkbox" value="true">
              </td>
            </tr>
            <tr>
              <td>Nome Trienal Específica II</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>
                <input type="checkbox" value="true">
              </td>
            </tr>

            <tr>
              <td>Nome Anual I</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td></td>
              <td></td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>

              </td>
            </tr>

            <tr>
              <td>Nome Anual II</td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td>
                <input type="number" min="1" max="20" placeholder="10">
              </td>
              <td></td>
              <td></td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input type="checkbox">
              </td>
              <td>
                <input disabled placeholder="10">
              </td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>
    </body>
</html>
