.genericOption {
  display: none;
}

.notaDisciplinaInput{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.checkedInternoExterno{

}

.selecaoInternoExterno{
  text-align: center;
  align-items: center;
  justify-content: center;
}
